<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="ImageResizingService.Service1">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="RESTfulServiceBinding" contract="ImageResizingService.IService1" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="RESTfulServiceBinding" maxReceivedMessageSize="2048000" maxBufferSize="2048000" maxBufferPoolSize="2048000" transferMode="Streamed">
          <readerQuotas maxArrayLength="2048000" maxStringContentLength="2048000" />
          <security mode="TransportCredentialOnly"></security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
